<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>index</title>
</head>

<body>
        <form name="form1" action="malangSave" method="post">
        <table border="1" style="width:600px">
            <caption>사용자 등록</caption>
            <colgroup>
                <col width='15%' />
                <col width='*%' />
            </colgroup>
            <tbody>
                <tr>
                    <td>email</td>
                    <td><input type="text" name="email" size="20" maxlength="20" value=""></td>
                </tr>
                <input type="hidden" name="reg_dt" id="reg_dt" value=""/>
            </tbody>
        </table>
        <button>저장</button>
    </form>

</body>

</html>


